{% extends 'main.html' %}

{% block extraCSS %}
<!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<!--<![endif]-->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" />
<style>
.main {
  background-color: #6f7179;
}
.item-container {
  margin-bottom: 10px;
}
.item-card {
  background-color: white;
  border: 1px solid #004474;
  border-radius: 4px;
  box-shadow: 2px 4px #0044747A;
  padding: 0;
  margin: 5px;
  box-sizing: border-box;
  height: 100%;
}
.item-img {
  border-radius: 4px 4px 0 0;
}
.item-header {
  background-color: #393939;
  color: white;
  padding: 10px 5px;
}
.item-name {
  font-size: 1.25em;
  padding: 10px 2px;
}
.item-price {
  font-size: 1.25em;
  text-align: right;
  display: block;
}
.item-bids {
  color: #CCC;
  text-align: right;
  display: block;
}
.item-time,
.item-inc,
.item-fmv {
  color: #CCC;
  font-size: .75em;
  display: block;
  margin: 5px 0;
}
.item-bidBtn {
  float: right;
	transition: all .2s linear;
  border: 1px solid #004474;
  border-radius: 4px;
  color: #004474;
  padding: 2px 5px;
}
.item-bidBtn:hover,
.item-bidBtn:focus{
	text-decoration: none;
	color: white!important;
  border-color: #004474;
  background-color: #004474;
  cursor: pointer;
}
.ui-widget-overlay {
   background-color: #AAA;
   opacity: .70;
   filter: Alpha(Opacity=30);
}
.ui-dialog-titlebar {
  border: none;
  background: none;
  border-bottom: 1px solid #CCC;
  border-radius: 0;
}
.item-desc {
  padding: 10px 5px;
  margin: 0;
}
.bid-grid {
  text-align: center;
}
.bid-label {
  display: block;
}
.bid-amount {
  color: #004474;
  font-size: 1.25em;
  cursor: pointer;
	transition: all .2s linear;
}
.bid-amount:hover,
.bid-amount:focus {
  color: #409bce;
}
.isWinning {
  background-color: #045a04;
}
.isLosing {
  background-color: #ea9400;
}
.item-bid-message {
  font-size: .8em;
  color: #EEF;
}
#auction-bar {
  background-color: #AAA;
  border-radius: 4px;
}
#checkout-box {
  text-align: right;
}
#checkout-box img {
  width: 32px;
}
</style>
{% endblock %}

{% block extraJS %}
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/bidDlg.js"></script>
{% endblock %}

{% block main %}
<div id="bidDialog"></div>
<div id="auction-bar" class="pure-g">
  <div class="pure-u-1-2">
    <span></span>
  </div>
  <div class="pure-u-1-4">
    
  </div>
  <div class="pure-u-1-4" id="checkout-box">
    <a href="/auction/checkout">Checkout<img alt="Checkout" src="/static/img/checkout.png" /></a>
  </div>
</div>
<div class="pure-g">
  {% for item in items %}
    <div class="item-container pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">
      <div class="item-card" id="{{ item.id }}">
        <img class="item-img pure-img" src="{{ item.get('imageurl') }}" alt="Image of {{ item.get('name') }}" />
        <div class="item-text">
          <div class="item-header pure-g 
            {% if item.userIsWinning %}
              isWinning
            {% else %}
              {% if item.userIsLosing %}
                isLosing
              {% endif %}
            {% endif %}
            ">
            <span class="item-name pure-u-4-5">{{ item.get('name') }}</span>
            <div class="pure-u-1-5">
              <span class="item-price">${{ item.get('price') }}</span>
              <span class="item-bids">{{ item.get('numberOfBids') }} Bid{% if item.get('numberOfBids') != 1 %}s{% endif %}</span>
            </div>
            {% if item.userHasBid %}
              <span class="item-bid-message pure-u-4-5">{{ item.bidMessage }}</span>
            {% endif %}
              
          </div>
          <div class="item-desc">
            {% if item.isBiddable and not item.userIsWinning %}
              <span class="item-bidBtn" onclick="showBidDlg('{{ item.get('name') }}', '{{ item.id }}')">Bid Now</span>
            {% endif %}
            <span class="item-time">{{ item.timeMsg }}</span>
            <span class="item-inc">Bidding Increment: ${{ item.get('priceIncrement') }}</span>
            <span class="item-fmv">Fair Market Value: {{ item.get('fmv') }}</span>
            <p class="item-desc">{{ item.get('description') }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

<!-- vim :set syntax=jinja: -->
