{% extends "two-column.html" %}

{% block extraCSS %}
<link rel="stylesheet" type="text/css" href="/static/css/checkout.css"/>
{% endblock %}

{% block extraJS %}
<script src="https://js.braintreegateway.com/web/dropin/1.10.0/js/dropin.min.js"></script>
{% endblock %}

{% block left %}
<div id="totals" class="pure-g">
  <h1 class="totalHeader pure-u-1-2">Total</h1>
  <h1 class="totalHeader pure-u-1-2">Due</h1>
  <p class="pure-u-1-2">$<span>{{ totalPrice }}</span></p>
  <p class="pure-u-1-2">$<span>{{ totalDue }}</span></p>
</div>
<table class="pure-table">
  <thead>
    <th>Purchased</th>
    <th>Item</th>
    <th>Price</th>
  </thead>
  {% set cls = cycler("","pure-table-odd") %}
  {% for status, name, price in items %}
  <tr class="{{ cls.next() }}">
    <td class="status-column">{{ status }}</td>
    <td>{{ name }}</td>
    <td>$ {{ price }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block right %}
{% if txid and txid != 0 %} <!-- Having a txid means we have already paid -->
<img src="/static/img/checkmark.png" alt="Success!" />
<h2 style="display: inline">Success!</h2>
<p>Thank you for participating in our silent auction.</p>
<p>Your transaction ID is: <span style="font-weight: bold">{{ txid }}</span></p>
<p>If you have further items to purchase, you may <a href="/auction/checkout">return to the Payments page</a>.
{% else %} <!-- No txid -->
  {% if totalDue > 0 %}
  <div id="payment-box">
      <h1> Checkout</h1>
      <p>Thank you for your participation. Please show this page to a moderator who will help you check out.</p>
      <p>If you are checking out online, please use our <a href="https://www.paypal.com/donate/?token=UIvyGRnWq0JMbdO4RHP2jutZEsfiUClMkbsSmqOIT3q99tXJms0Q_g4oAcuw-14mkSXYwG&country.x=US&locale.x=US">Donation Page</a> to make a donation equal to the total amount of the bids you won. Keep a copy of the confirmation page, and present it when you go to pick up your item.</p>

  {% else %} <!-- totalDue > 0 -->
    {% if items | length > 0 %}
      <h1>Woohoo!</h1>
      <p>You have purchased all the items you won. Doesn't that feel great?</p>
      <p>Thank you so much for your participation. If you would like to learn about other ways you can contribute, click the "Get Involved" button above.</p>
    {% else %}
      <h1>No Items! :(</h1>
      <p>You haven't won any items, so I'm afraid there is nothing to show here. Go bid, if it is still open! If you would like to contribute in other ways, click the "Get Involved" button above, or visit our <a href="http://www.ucrpc.org/donate-2/donate/">Donation Page</a>.</p>
    {% endif %}
  {% endif %}
{% endif %}
{% endblock %}

<!-- vim: set syntax=jinja: -->
