{% extends "header_footer.html" %}

{% block sections %}
	<!--  About Section  -->
	<section class="hero" id="hero">
		<div class="container">
			<div class="caption">
				<h1 class="text-uppercase  animated wow fadeInLeft">Welcome to the UCRPC Silent Auction!</h1>
				<p class="animated wow fadeInLeft" data-wow-delay=".1s">The best way to participate in the silent auction is to download our app. In the app you can browse all of the items, make bids, and be notified if you are outbid.</p>
				<p class="animated wow fadeInLeft" data-wow-delay=".2s">In a pinch, you can also use this web page. Just sign in below to get started!</p>

				<a href="#hero" class="app_store_btn text-uppercase animated wow fadeInLeft">
					<i class="iphone_icon"></i>
					<span>iPhone App</span>
				</a>

				<a href="#hero" class="app_store_btn text-uppercase animated wow fadeInLeft">
					<i class="android_icon"></i>
					<span>Android App</span>
				</a>
			</div>			
		</div>
	</section>
	<!--  End About Section  -->


	<!--  Sign-in Section  -->
	<section class="sign_in" id="sign_in">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center animated wow fadeInLeft">
					<div class="iphone">
						<img src="/static/img/iphone.png" alt="Image of iPhone App">
					</div>
				</div>
				<div class="col-md-6 animated wow fadeInRight">
					<form class="sign_in_form pure-form pure-form-aligned">
						<h1 class="text-uppercase">Sign In.</h1>
						<p>In order to browse and bid, you will need to sign in. All entrants may browse the items, but only those with a verified email may bid.</p>
						<fieldset>
              <div class="pure-control-group">
                <div class="pure-control-group">
                  <label for="name">Full Name:</label>
                  <input id="name" type="text" class="pure-input-2-3" placeholder="First and Last Name" />
                </div>
                <div class="pure-control-group">
                  <label for="email">Email:</label>
                  <input id="email" type="text" class="pure-input-2-3" placeholder="Email Address" />
                </div>
                <div class="pure-control-group">
                  <label for="phone">Phone Number:</label>
                  <input id="phone" type="text" class="pure-input-2-3" placeholder="Telephone" />
                </div>
                <div class="pure-controls">
                  <button type="submit" class="text-uppercase pure-button pure-input-1 pure-button-primary" id="do_sign_in">
                    <span>Show me the Items!</span>
                  </button>
                </div>
              </div>
						</fieldset>
					</form>					
				</div>
			</div>
		</div>
	</section>
	<!--  End Sign-in Section  -->






	<!--  Last Section  -->
	<section class="last_box">
		<p class="cta_text animated wow fadeInDown">Thank You for your interest!</p>
	</section>
	<!--  Last Section  -->
{% endblock %}

<!-- vim: set syntax=jinja: -->
