.status-column {
  text-align: center;
}

table {
  width: 100%;
}

#totals {
  text-align: center;
  margin-bottom: 25px;
}

#totals h1 {
  border-bottom: 1px solid black;
}

#totals p {
  font-style: italic;
}

#totals span {
  font-weight: lighter;
  font-size: 1.5em;
  vertical-align: top;
}
